Django>=5.2
django-admin-interface
django-colorfield
django-cors-headers
django-debug-toolbar
django-environ
djangorestframework
django-filter
django-allauth
django-htmx
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
django-debug-toolbar